@import "font";
@import "variable-theme";

$tablet: 768px;
$desktop: 992px;
$wide: 1280px;
$max-width: 1280px;

/* Couleurs du projet */
$color-black: black;
$color-white: $foreground-color;
// Les autres couleurs
$color-gray: #1d1f20;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(1em * 0.625);
  //scroll-behavior: smooth;
}

body {
  height: 100%;
  font: {
    family: $family-default;
    size: 1.6rem;
    weight: 400; // regular
  }
  h1,
  h2,
  h3,
  h4 {
    font: {
      family: $family-title;
    }
  }
  color: $foreground-color;
  background-color: $background-color;
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    #content {
      flex: 1 0 auto;
    }
    #footer {
      flex-shrink: 0;
    }
  }

  @import "common";
  @import "content";
  @import "../components/Header/header.scss";
  @import "../components/Footer/footer.scss";
  @import "../components/Flag/flag.scss";
  @import "../components/DecorativeFlag/decorativeFlag.scss";
  @import "../components/Keyboard/keyboard.scss";
  @import "../pages/Homepage.scss";
}
