
// Couleurs
$border-color: hsl(194, 90.7%, 17.9%);
$input-color: hsl(194, 90.7%, 17.9%);
$ring-color: hsl(82, 88.9%, 72.1%);
$background-color: hsl(194, 56.8%, 2.9%);
$foreground-color: hsl(74, 63.3%, 92.7%);
$primary-default-color: hsl(81, 72.7%, 37%);
$primary-foreground-color: hsl(205, 33.2%, 2.3%);
$secondary-default-color: hsl(194, 90.7%, 17.9%);
$secondary-foreground-color: hsl(74, 63.3%, 92.7%);
$destructive-default-color: hsl(199, 91%, 25.7%);
$destructive-foreground-color: hsl(74, 63.3%, 92.7%);
$muted-default-color: hsl(194, 90.7%, 17.9%);
$muted-foreground-color: hsl(193, 82.5%, 88.2%);
$accent-default-color: hsl(194, 90.7%, 17.9%);
$accent-foreground-color: hsl(74, 63.3%, 92.7%);
$popover-default-color: hsl(194, 56.8%, 2.9%);
$popover-foreground-color: hsl(74, 63.3%, 92.7%);
$card-default-color: hsl(194, 56.8%, 2.9%);
$card-foreground-color: hsl(74, 63.3%, 92.7%);

// Rayon des bordures
$border-radius-lg: 0.5rem;
$border-radius-md: calc(0.5rem - 2px);
$border-radius-sm: calc(0.5rem - 4px);