[id="flag"] {
  position: relative;
  object-fit: contain;
  box-shadow: 0 0 60px 5px rgba(12, 65, 209, 0.8);
}

/*
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

Si trop grande :
object-fit: contain;

Si trop petite :
object-fit: cover;
*/
