[id="flag"] {
  flex-shrink: 0;
  height: 280px;
  width: 390px;
  margin-top: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 60px 5px rgba(12, 65, 209, 0.8);
  position: sticky;
  @media screen and (max-width: 1200px) {
    height: 240px;
    width: 340px;
  }
  @media screen and (max-width: 1084px) {
    height: 200px;
    width: 300px;
  }
  @media screen and (max-width: 768px) {
    height: 180px;
    width: 280px;
  }
}
