[id="footer"] {
  background-color: $primary-default-color;
  width: 100%;
  bottom: 0;
  color: white;
  .logo-github-footer {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg)
      brightness(100%) contrast(100%);
  }
}
