h1,
h2,
p,
label,
em {
  color: white;
}

.center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  display: flex;
  color: white;
  margin: 0;
  gap: 2rem;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 10px;
}

a {
  cursor: pointer;
}

.italic {
  font-style: italic;
}
// <i> </i> <em> </em>
// <b> </b> <strong> </strong>

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
