main {
  &#main {
    div {
      &#flag-content {
        padding-top: 2rem;
      }
      &#content-write {
        padding-top: 2rem;
      }
      &.center {
        padding: 3rem;
        border: solid 0.5rem #9eb384;
        border-radius: 2rem;
        width: fit-content;
        margin: 0 auto;
      }
    }

    .gradient-border {
      --borderWidth: 3px;
      background: #faf1e4;
      position: relative;
    }

    .gradient-border:after {
      content: "";
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }

    @keyframes animatedgradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .writeSquare {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      user-select: none;
    }

    .writeDiv {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
